{% extends 'base.html.twig' %}

{% block title %}{% if currentRoute == 'add_dossier' %}Add dossier{% else %}Edit dossier {% endif %}{% endblock %}

{% block body %}
    <br>
    <h2>{% if currentRoute == 'add_dossier' %}Add dossier{% else %}Edit dossier {% endif %}</h2>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock %}